<Card Title="Nouveau Type Noeud">
    <CardBody>
        <InlineForm>
            <FormGroup Label="Code">
                <input type="text" class="form-control w-25" placeholder="Code du Type du noeud" />
            </FormGroup>
            <FormGroup Label="Nom">
                <input type="text" class="form-control" placeholder="Nom du Type du noeud" />
            </FormGroup>
            <h5 class="border-bottom">Roles</h5>
            <div class="d-flex flex-column">
                <div>
                    <label>Chef de département</label>
                    <label>Occurences : <strong>1</strong></label>
                </div>
                <div>
                    <label>Adjoint Pédagogie</label>
                    <label>Occurences : <strong>1</strong></label>
                </div>

               
            </div>
            <h5 class="border-bottom">Noeuds enfants</h5>
            <div class="d-flex flex-column">
                <div>
                    <label>Chef de département</label>
                    <label>Occurences : <strong>1</strong></label>
                </div>
                <div>
                    <label>Adjoint Pédagogie</label>
                    <label>Occurences : <strong>1</strong></label>
                </div>


            </div>
        </InlineForm>
    </CardBody>
    <CardFooter>
        <SubmitOrCancel CancelLabel="Annuler" SubmitLabel="Enregister"></SubmitOrCancel>
    </CardFooter>
</Card>