@page "/"
@using Org.Domains.Nodes
@using Org.Impl
@using Org.Storages
@using Org.Apps
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<div class="row">
    <label >Code</label>
    <input type="text" @bind="roleCode"/>
    <label>RoleName</label>
    <input type="text" @bind="roleName"/>
    
    <button type="button" @onclick=@CreateRole>Insert Role</button>
</div>


@code
{
    private string roleCode, roleName;

    RoleStorage RoleStorage = new RoleStorage("");
    private void CreateRole()
    {
      bool result=  RoleStorage.InsertRole(Guid.NewGuid(), roleCode, roleName).Result;
      if (result)
      {
          Console.Write("inserted");
      }
    }
}
