@page "/"
@using Org.Domains.Nodes
@using Org.Impl
@using Org.Storages
@using Org.Apps
@using Org.Domains.Persons
@using Org.Domains.Shared

@inject IRoleService RoleService
<PageTitle>Index</PageTitle>

<div style="max-width: 300px">
    <h5> liste des roles</h5>
    <select class="form-control">
        @foreach (Role role in roles)
        {
            <option value=@role.RoleId>@role.RoleCode-@role.RoleName</option>
        }
    </select>
    <br/>
    <CreateRoleForm OnRoleCreated=addRoleToList OnFailure=@creationFailed/>

</div>

@code
{
    private string roleCode, roleName;

    private List<ErrorCode> errors;

    private List<Role> roles = new List<Role>();

    protected override async Task OnInitializedAsync()
    {
        roles = await RoleService.GetRoles();
    }

    private void addRoleToList(Role role)
    {
        roles.Add(role);
    }

    private void creationFailed(List<ErrorCode> errorCodes)
    {

    }

}
