<div class="form-group">
    <label class="form-label">@Label</label>
    <label class="form-content">@Value</label>
</div>
@code {
[Parameter] public string Label { get; set; }
[Parameter] public string Value { get; set; }
}