@page "/types/create"


<h3>CreateNodeTypePage</h3>

@if (hasError)
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
<div style="max-width: 300px">
    <NodeTypeEdit />

</div>
