<button class=@buttonClass style=@style @onclick=@OnClick>@ChildContent</button>

@code {
    private FloatingPosition position;

    private string style = string.Empty;
    private string buttonClass = string.Empty;
    private ColorTheme color;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter] public ColorTheme Color { get => color; set => setColor(value); }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string Text { get; set; }

    private void setColor(ColorTheme value)
    {
        color = value;
        buttonClass = value switch
        {
            ColorTheme.Primary => "btn btn-primary",
            ColorTheme.Secondary => "btn btn-secondary",
            ColorTheme.Success => "btn btn-success",
            ColorTheme.Warning => "btn btn-warning",
            ColorTheme.Danger => "btn btn-danger",
            _ => "btn"
            };
    }

    
}
