@using Org.Domains.Persons
@using Org.Apps

<select class="form-control" @bind="nodeRole.RoleId">
    @foreach (Role role in roles)
    {
        <option value=@role.RoleId>@role.RoleCode-@role.RoleName</option>
    }
</select>
<div class="d-flex">
    <label> min value</label>
    <input type="number" class="form-control" @bind=@minValue/>
</div>
<div class="d-flex">
    <label> max value</label>
    <input type="number" class="form-control" @bind=@maxValue />
</div>

<button class="btn btn-sm btn-primary" @onclick=@roleAdded>Add Role</button>

