@using Org.Domains.Nodes
@if (loadCompleted)
{
    <div>
        <select class="form-control" @bind=@subNode.Id>
            <option selected="selected">- Sélectionnez une option -</option>
            @foreach (NodeType nodetype in nodes)
            {
                <option value="@nodetype.Id">@nodetype.Code - @nodetype.Name</option>
            }
        </select>
        <div class="d-flex">
            <label> min value</label>
            <input type="number" class="form-control" @bind=@minValue/>
        </div>
        <div class="d-flex">
            <label> max value</label>
            <input type="number" class="form-control" @bind=@maxValue />
        </div>
        <button class="btn btn-sm btn-primary" @onclick=@childAdded>Add child</button>
    </div>
}
