@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Home Page</h1>

<p>This is the home page content.</p>

<!-- زر لتحويل المستخدم إلى صفحة تسجيل الدخول -->

<a asp-page="/Login" class="btn btn-primary">Login Page</a>
